<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY WEB PAGE</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <map name="hello">
        <area shape="" coords="" href="" alt="main">
    </map>
    <style>
        .bg1{
            background-color: rgb(195, 255, 0);
        }
        .bg2{
            background-color: aqua;
        }
        .bg3{
            background-color: rgb(197, 114, 114);

        }
       .bt{
            border-radius: 50%;
        }
    </style>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/Home">Home</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Get In Touch<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Subscribe</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </li>
                <li><a href="#">About us</a></li>
                <li><a href="#">contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>
   <div class="jumbotron bg1 text-center">
    <img  src="C:\Users\student\Desktop\66g0\.vscode\full.jpg" class="bt" height="250" width="250" alt="hi">
        <h1 contenteditable="true">PURUSHOTHAM</h1>
        <h3 contenteditable="true">Front End Development</h3>
    </div>
    <div class="jumbotron bg2">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 bg3">
                    <h4 contenteditable="true">HTML</h4>
                    <img src="../assets/download.jpg" alt="py">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est nobis at quaerat. Quos voluptate cum quas voluptatem iure sint placeat rerum tempora quam facilis beatae, saepe, perferendis alias praesentium! Quasi!
                </div>
                <div class="col-sm-3 bg1">
                    <h4 contenteditable="true">CSS</h4>
                    <img src="../assets/full.jpg" alt="py">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis blanditiis magni ratione, deserunt exercitationem aliquam velit aspernatur nulla! Eligendi ipsam laborum necessitatibus? Corrupti hic et debitis perferendis rem beatae qui?
                </div>
                <div class="col-sm-3 bg3">
                    <h4 contenteditable="true">JAVA SCRIPT</h4>
                    <img src="../assets/js.jpg" alt="py">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ipsam labore quidem ratione harum tenetur voluptates blanditiis dolorem non animi placeat ad fugit voluptatum, vel quibusdam cumque odit assumenda beatae.
                </div>
                <div class="col-md-3 bg1">
                    <h4 contenteditable="true">NODE JS</h4>
                    <img src="../assets/download1.jpg" width="250"  alt="py">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, hic! Dolore omnis, autem nemo officiis, quam facere ratione itaque iusto ut culpa, fuga repudiandae eius amet earum veniam aliquid tenetur.
                </div>
                <div>
                    <div class="col-sm-3 bg3">
                        <h4 contenteditable="true">BACKEND</h4>
                        <img src="../assets/back.jpg" width="250" alt="py">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus, accusamus, totam expedita enim dolorem laudantium ipsa porro sapiente assumenda beatae recusandae a! Aliquam delectus sapiente corporis similique illo doloremque doloribus?
                    </div>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
